# ============================== OPENROUTER CREDENTIALS (LOCAL) ===============================
OPENROUTER_API_KEY=""
OPENROUTER_URL="https://openrouter.ai/api/v1"

# ============================== GROQ CREDENTIALS (LOCAL) ===============================
GROQ_API_KEY=""
GROQ_URL="https://api.groq.com/openai/v1"

# ============================== COHERE CREDENTIALS (LOCAL) ===============================
COHERE_API_KEY=""

# ============================== LANGFUSE CREDENTIALS (LOCAL) ===============================
LANGFUSE_SECRET_KEY=""
LANGFUSE_PUBLIC_KEY=""
LANGFUSE_HOST="http://localhost:3100"

# ============================== DATABASE CREDENTIALS (LOCAL) ===============================
TIMESCALE_SERVICE_URL=""